body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    font-family: Arial, sans-serif;
}
canvas {
    border: 2px solid #444;
}
  .frijole-regular {
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .b612-mono-regular {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .b612-mono-bold {
    font-family: "B612 Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .b612-mono-regular-italic {
    font-family: "B612 Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .b612-mono-bold-italic {
    font-family: "B612 Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
